*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(135deg, #1d2671, #c33764);
    display: flex;
    align-items: center;
    justify-content: center;
}
